
#importFrom(utils, head, read.table, write.csv, write.table)

import(dplyr, ggplot2)

export(
    print.columns,
    combine.all,
    explain,
    find.dataset,
    make.table,
    make.table2,
    order.responses
)


